.recipe-card {
    margin: 0px auto 40px;
	/* outline: 2px inset #9bb4ec; */
	flex: 0 0 300px ;
}

/* @include max-width(992px) {
	.recipe-card {
		flex-basis: 25%;
		background-color: red;
	}
}

@include max-width(640px) {
	.recipe-card {
		flex-basis: 50%;
		background-color: green;
	}
} */




