#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}

#cardsContainer {
    display: flex;
    flex-flow: row wrap;
}

/* ELEMENT Classes */
button[type=submit] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid darkslateblue;
    background-color: rgba(128, 128, 0, 0.5);
    color: snow;
    width: 90px;
    height: 30px;
    padding-left: 5px;
    margin: 2px 15px;
    text-align: center;
}

button[type=submit]:focus{
    outline: none;
    border: 1px solid #557A95;
    color: snow;
}

button.btn-small {
    width: 60px;
}