body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
  color: #f21519;
}

.background-red {
  background-color: #f21519;
}

.background-red-semitransparent {
  background-color: #f2181bbf;
}

.peach {
  color: #fc9572;
  }
  
.background-peach {
  background-color: #fc9572;
  }
  
.background-peach-semitransparent {
  background-color: #fc9472bf;
  }

.green {
  color: #cdbf18;
  }
  
.background-green {
  background-color: #cdbf18;
  }
  
.background-green-semitransparent {
  background-color: #cdbe18bf;
  }

.olive {
  color: olive;
  }
  
.background-olive {
  background-color: olive;
  }
  
.background-olive-semitransparent {
  background-color:rgba(128, 128, 0, 0.75);
  }
  
.white {
  color: #e2e2e0;
  }
  
.background-white {
  background-color: #e2e2e0;
  }
  
.background-white-semitransparent {
  background-color: #e2e2e0bf;
  }

.blue {
  color: lightblue;
  }
  
.background-blue {
  background-color: lightblue;
  }
  
.background-blue-semitransparent {
  background-color:rgba(173, 216, 230, 0.75);
  }

.darkerblue {
  color: #303f79;
  }
  
.background-darkerblue {
  background-color: #303f79;
  }
  
.background-darkerblue-semitransparent {
  background-color: #303f79bf;
  }
  

/* TEXT Classes */
.centerText {
  text-align: center;
}

.text-shadow-white {
  text-shadow: 1px 1px 2px #e2e2e0;
}

.text-shadow-darkerblue {
  text-shadow: 1px 1px 2px #303f79;
}

.text-shadow-slate {
  text-shadow: 1px 1px 2px slategray;
}

.text-large {
  font-size: 2rem;
}

.text-larger {
  font-size: larger;
}

.text-bold {
  font-weight: bold;
}

/* ELEMENT Classes */

