#editIcon {
    display: inline;
    position: absolute;
    right: 10px;
    margin: 4px 0px;
    padding-left: 5px;
}

.viewRecipe {
    width: 500px;
    max-width: 500px;
}

.align-right {
    display: inline;
    position: absolute;
    top: 40px;
    right: 10px;
    border-radius: 15px;
}

input {
    margin: auto;
    border: 1px solid rgba(255, 218, 185, 0.5);
    border: none;
}

.form-label {
    margin-left: 20px;
}

.modal-80{
    width: 80vw;
    max-width: 80vw;
}

